.mobileNav {
  background: white;
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid var(--colorGrey400);
  z-index: 1000;
}

.blocIcon {
  width: 20px;
  // display: flex;
  display: table;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 20px;
  margin-top: 7px;

  .text {
    font-size: 10px;
    font-weight: 500;
    margin-top: -7px;
  }

  //   .notif {
  //     background-color: $danger_color;
  //     color: white;
  //     font-size: 11px;
  //     border-radius: 50%;
  //     height: 10px;
  //     width: 10px;
  //     position: absolute;
  //     top: 7px;
  //     margin-left: 16px;
  //     text-align: center;
  //   }
}

p {
  margin: unset;
}
