.baseMobileNav {
  background: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid var(--colorGrey200);
  z-index: 1000;
}

.mobileNav {
  @extend .baseMobileNav;
  height: 55px;
}

.mobileNavIOS {
  @extend .baseMobileNav;
  height: 65px;
}

.blocIcon {
  display: table;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 10px 0 0 0;

  .icon {
    font-size: 18px;
  }

  .text {
    margin-top: -8px;
    font-size: 9px;
    font-weight: 500;
    display: block;
  }

  .notificationDot {
    background-color: var(--colorFail);
    color: var(--colorWhite);
    font-size: 11px;
    border-radius: 50%;
    height: 8px;
    width: 8px;
    position: absolute;
    top: 8px;
    margin-left: 13px;
    text-align: center;
  }
}

p {
  margin: unset;
}
