.landingPageHeroSectionMobile {
  display: block;
  @media (--viewportMedium) {
    display: none;
  }
}

.landingPageHeroSectionDesktop {
  display: none;
  @media (--viewportMedium) {
    display: block;
  }
}
