@import '../../../styles/customMediaQueries.css';
@import '../../../styles/gridDefaults.scss';

.container {
  margin-top: 36px;
  margin-bottom: 10px;
}

.mobileMarginTop {
  @media (--viewportMaxSmall) {
    margin-top: 50px;
  }
}

.submitButton {
  margin-bottom: 5px;
}
